<%- include ('../partials/header') %> 

    <div class="container">
        <a href="/projects">View Projects</a>
        <h1 class="mb-4"> Edit project </h1>
        
        <form action="/projects/<%= data.id %>?_method=PATCH" method="post">
            <%- include ('./_form_fields.ejs') %> 
        </form>

        <form action="/projects/<%= data.id %>?_method=DELETE" method="post">
            <button type="submit" class="btn btn-danger">Delete</button>
        </form>
    </div>

<%- include ('../partials/footer') %> 


<!-- {
    _id: new ObjectId("6212d386f666c5472c7644c2"),
    title: 'Super Hero Math Game',
    description: 'This is a game that I created for children to practice their arithmetic skills\r\n' +
      '    \r\n' +
      '    ',
    liveLink: 'https://joshuaduke.github.io/SuperHeroMathGameV2/',
    githubLink: 'https://github.com/joshuaduke/SuperHeroMathGameV2',
    blogLink: '',
    tags: [ 'javascript', 'html5', 'sass', 'css3\r\n    \r\n    ' ],
    __v: 0,
    completed: 'false'
  }, -->


